@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Open+Sans:400,400italic,600,600italic,700,700italic,300,300italic);

body {
	color: #666666;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #d1ad54;
	font-weight: 600;
	text-decoration: none;
}
a img {
	border: none;
}
strong {
	color: #333333;
	font-weight: 600;
}

h1, h2, h3, h4 {
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 15px 0;
	letter-spacing: 1.5px;
}
h1, .main_title {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 42px;
	padding: 10px 0;
	background: bottom repeat-x;
	letter-spacing: 0px;
}
.main_title.light {
	color: #fff;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 22px;
}

.content ul li {
	list-style: none;
	position: relative;
}
.content ul li::after {
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background: #d1ad54;
	position: absolute;
	left: -15px;
	top: 7px;
}
blockquote {
	font-style: italic;
	font-weight: 600;
	font-size: 20px;
	border-left: 5px solid #d1ad54;
	padding: 0 0 0 25px;
	margin: 15px 0;
	color: #000;
}

.content .left img {
	max-width: 100%;
}

.content div[style] {
	font-family: 'Open Sans', sans-serif;
}
.wp-caption {
	max-width: 100%;
	overflow: hidden;
	background: #333333;
	margin: 5px 0 30px 0;
}
.wp-caption img {
	width: 100%;
	margin-bottom: 0;
	transition: opacity 0.35s;
	height: auto;
}
.wp-caption img:hover {
	opacity: 0.85;
}
.wp-caption .wp-caption-text {
	background: #333333;
	padding: 5px 10px 8px 10px;
	text-align: center;
	color: #f7f7f7;
	margin: 0;
	letter-spacing: 1px;
}
.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}
.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}
