<div id="menu_holder" class="menu-main-nav-container"><ul id="off-canvas-menu" class="menu"><li id="menu-item-497" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-497"><a href="https://www.theresident.co.uk/category/food-drink-london/">Gourmet</a><div class="drop-down"><div class="sub-cats"><span class="more">MORE <span class="cat-name">GOURMET</span></span>
<ul class="sub-menu">
	<li id="menu-item-499" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-499"><a href="https://www.theresident.co.uk/category/food-drink-london/restaurants-bars-london/">Restaurants &#038; Bars</a></li>
	<li id="menu-item-498" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-498"><a href="https://www.theresident.co.uk/category/food-drink-london/food-features/">Food features</a></li>
	<li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-506"><a href="https://www.theresident.co.uk/category/food-drink-london/recipes/">Recipes</a></li>
	<li id="menu-item-507" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-507"><a href="https://www.theresident.co.uk/category/food-drink-london/restaurant-reviews-london/">Restaurant Reviews</a></li>
</ul>
</div><!-- /sub-cats  -->
<div class="latest-posts"><div class="story featured"><a href="https://www.theresident.co.uk/food-drink-london/bottomless-sunday-roasts-in-london/"><img width="600" height="400" src="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2019/11/sunday-roast-Quaglinos-12-1-600x400.jpg" class="attachment-tr-main size-tr-main wp-post-image" alt="Bottomless Sunday roasts in London: Quaglino&#039;s in Mayfair has the option of bottomless bubbles or wine" /></a><a href="https://www.theresident.co.uk/food-drink-london/bottomless-sunday-roasts-in-london/">10 of the Best Bottomless Sunday Roasts in London</a></div><div class="right"><div class="story "><a class="category" href="https://www.theresident.co.uk/category/food-drink-london/">Gourmet</a><a class="category" href="https://www.theresident.co.uk/category/food-drink-london/restaurant-reviews-london/">Restaurant Reviews</a><a href="https://www.theresident.co.uk/food-drink-london/the-laundry-brixton-restaurant-review/">Restaurant Review: The Laundry, Brixton</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/food-drink-london/food-features/">Features</a><a class="category" href="https://www.theresident.co.uk/category/food-drink-london/">Gourmet</a><a href="https://www.theresident.co.uk/food-drink-london/christmas-day-wines-what-to-serve-with-christmas-dinner/">Christmas Day Wines: What to Serve with Christmas Dinner</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/food-drink-london/">Gourmet</a><a class="category" href="https://www.theresident.co.uk/category/food-drink-london/restaurant-reviews-london/">Restaurant Reviews</a><a href="https://www.theresident.co.uk/food-drink-london/the-red-lion-leytonstone-food-review/">Restaurant Review: The Red Lion, Leytonstone</a></div></div><!-- /right --></div><!-- /latest-posts --></div><!-- /drop-down  -->
</li>
<li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-511"><a href="https://www.theresident.co.uk/category/london-culture-events/">London Culture</a><div class="drop-down"><div class="sub-cats"><span class="more">MORE <span class="cat-name">LONDON CULTURE</span></span>
<ul class="sub-menu">
	<li id="menu-item-515" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-515"><a href="https://www.theresident.co.uk/category/london-culture-events/things-to-do-london/">What&#8217;s on</a></li>
	<li id="menu-item-513" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-513"><a href="https://www.theresident.co.uk/category/london-culture-events/celeb-interviews/">Celebrity Interviews</a></li>
	<li id="menu-item-514" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-514"><a href="https://www.theresident.co.uk/category/london-culture-events/local-people/">Local People</a></li>
	<li id="menu-item-512" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-512"><a href="https://www.theresident.co.uk/category/london-culture-events/arts-music-london/">Arts &#038; Music</a></li>
	<li id="menu-item-1750" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1750"><a href="https://www.theresident.co.uk/category/london-culture-events/family-activities-london/">Family life</a></li>
	<li id="menu-item-2233" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2233"><a href="https://www.theresident.co.uk/category/london-residentclub/">Competitions &#038; Offers</a></li>
</ul>
</div><!-- /sub-cats  -->
<div class="latest-posts"><div class="story featured"><a href="https://www.theresident.co.uk/london-culture-events/pantomime-london-2019/"><img width="600" height="400" src="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2016/11/panto-Cinderella-Greenwich-600x400.jpg" class="attachment-tr-main size-tr-main wp-post-image" alt="London&#039;s best pantomimes: Cinderella at Greenwich Theatre (photo: Robert Day)" /></a><a href="https://www.theresident.co.uk/london-culture-events/pantomime-london-2019/">12 of the Best Pantomimes in London</a></div><div class="right"><div class="story "><a class="category" href="https://www.theresident.co.uk/category/christmas/">Christmas</a><a class="category" href="https://www.theresident.co.uk/category/london-culture-events/">London Culture</a><a href="https://www.theresident.co.uk/london-culture-events/things-to-do-december-2019/">55 Things to Do in London: December 2019</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/london-culture-events/">London Culture</a><a class="category" href="https://www.theresident.co.uk/category/london-culture-events/things-to-do-london/">Things To Do</a><a href="https://www.theresident.co.uk/london-culture-events/things-to-do-this-weekend-in-london-30-november-1-december/">15 Things to Do this Weekend in London: 30 November-1 December</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/london-residentclub/london-competitions/">Competitions</a><a class="category" href="https://www.theresident.co.uk/category/london-culture-events/">London Culture</a><a href="https://www.theresident.co.uk/london-culture-events/competition-win-tickets-andrew-maxwell-winter-wonderland-comedy-club/">Win Tickets to See Andrew Maxwell at Winter Wonderland Comedy Club</a></div></div><!-- /right --></div><!-- /latest-posts --></div><!-- /drop-down  -->
</li>
<li id="menu-item-502" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-502"><a href="https://www.theresident.co.uk/category/homes-interiors/">Homes</a><div class="drop-down"><div class="sub-cats"><span class="more">MORE <span class="cat-name">HOMES</span></span>
<ul class="sub-menu">
	<li id="menu-item-503" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-503"><a href="https://www.theresident.co.uk/category/homes-interiors/inspiration/">Homes Inspiration</a></li>
	<li id="menu-item-72402" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-72402"><a href="https://www.theresident.co.uk/category/homes-interiors/gardens-gardening/">Gardens</a></li>
	<li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-508"><a href="https://www.theresident.co.uk/category/homes-interiors/expert-advice/">Expert Advice</a></li>
	<li id="menu-item-681" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-681"><a href="https://www.theresident.co.uk/category/property-market-london/property-of-the-day/">Property of the Day</a></li>
	<li id="menu-item-517" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-517"><a href="https://www.theresident.co.uk/category/property-market-london/property-guide-london/">Area Guides</a></li>
	<li id="menu-item-51469" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-51469"><a href="https://www.theresident.co.uk/category/homes-interiors/international-prime-properties/">International Prime Properties</a></li>
	<li id="menu-item-44372" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44372"><a href="https://edition.pagesuite-professional.co.uk//launch.aspx?pbid=324cedd3-394b-487b-b4fa-3576e481130a">resident@home</a></li>
</ul>
</div><!-- /sub-cats  -->
<div class="latest-posts"><div class="story featured"><a href="https://www.theresident.co.uk/homes-interiors/where-to-buy-christmas-tree-london/"><img width="600" height="400" src="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/11/ChristmasTree-600x400.jpg" class="attachment-tr-main size-tr-main wp-post-image" alt="Where to buy a Christmas tree in London" srcset="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/11/ChristmasTree-600x400.jpg 600w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/11/ChristmasTree-300x200.jpg 300w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/11/ChristmasTree-768x512.jpg 768w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/11/ChristmasTree.jpg 1000w" sizes="(max-width: 600px) 100vw, 600px" /></a><a href="https://www.theresident.co.uk/homes-interiors/where-to-buy-christmas-tree-london/">Where to Buy a Christmas Tree in London</a></div><div class="right"><div class="story "><a class="category" href="https://www.theresident.co.uk/category/homes-interiors/">Homes &amp; Interiors</a><a class="category" href="https://www.theresident.co.uk/category/property-market-london/">Property</a><a href="https://www.theresident.co.uk/homes-interiors/mary-poppins-author-pl-travers-chelsea-house-for-sale/">Property of the Week: The Chelsea Home that Inspired Mary Poppins</a></div><div class="story "><strong class="ad_feature">Ad Feature</strong> <a class="category" href="https://www.theresident.co.uk/category/homes-interiors/">Homes &amp; Interiors</a><a href="https://www.theresident.co.uk/homes-interiors/the-worlds-comfiest-sofa/">Is This the World’s Comfiest Sofa?</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/homes-interiors/">Homes &amp; Interiors</a><a class="category" href="https://www.theresident.co.uk/category/homes-interiors/interiors/">Interiors</a><a href="https://www.theresident.co.uk/homes-interiors/timothy-oulton-bluebird-chelsea-wins-luxury-briefing-award/">Timothy Oulton at Bluebird Wins Big at Luxury Briefing Awards</a></div></div><!-- /right --></div><!-- /latest-posts --></div><!-- /drop-down  -->
</li>
<li id="menu-item-495" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-495"><a href="https://www.theresident.co.uk/category/lifestyle-london/">Lifestyle</a><div class="drop-down"><div class="sub-cats"><span class="more">MORE <span class="cat-name">LIFESTYLE</span></span>
<ul class="sub-menu">
	<li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-510"><a href="https://www.theresident.co.uk/category/lifestyle-london/travel-breaks-london/">Travel</a></li>
	<li id="menu-item-50464" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-50464"><a href="https://www.theresident.co.uk/category/lifestyle-london/wellbeing/">Wellbeing</a></li>
	<li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-509"><a href="https://www.theresident.co.uk/category/lifestyle-london/health-beauty/">Health &#038; Beauty</a></li>
	<li id="menu-item-496" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-496"><a href="https://www.theresident.co.uk/category/lifestyle-london/fashion-style/">Fashion</a></li>
</ul>
</div><!-- /sub-cats  -->
<div class="latest-posts"><div class="story featured"><a href="https://www.theresident.co.uk/lifestyle-london/competition-win-one-month-unlimited-classes-barrecore-kensington/"><img width="600" height="400" src="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2019/11/barrecore-kensington-12-600x400.jpg" class="attachment-tr-main size-tr-main wp-post-image" alt="Competition: Win a month of unlimited classes at Barrecore Kensington with The London Resident" /></a><a href="https://www.theresident.co.uk/lifestyle-london/competition-win-one-month-unlimited-classes-barrecore-kensington/">Win a Month of Unlimited Classes at Barrecore Kensington</a></div><div class="right"><div class="story "><a class="category" href="https://www.theresident.co.uk/category/lifestyle-london/health-beauty/">Health &amp; Beauty</a><a class="category" href="https://www.theresident.co.uk/category/lifestyle-london/">Lifestyle</a><a href="https://www.theresident.co.uk/lifestyle-london/latin-ballroom-dance-classes-london/">5 of London&#8217;s Best Latin &#038; Ballroom Dance Studios</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/christmas/">Christmas</a><a class="category" href="https://www.theresident.co.uk/category/lifestyle-london/health-beauty/">Health &amp; Beauty</a><a href="https://www.theresident.co.uk/lifestyle-london/luxury-beauty-advent-calendars/">9 of the Best Luxury Beauty Advent Calendars</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/lifestyle-london/">Lifestyle</a><a class="category" href="https://www.theresident.co.uk/category/london-residentclub/">Resident Club</a><a href="https://www.theresident.co.uk/lifestyle-london/timothy-oulton-chelsea-first-birthday-gentlemens-evening/">Timothy Oulton Celebrates One Year at Bluebird Chelsea</a></div></div><!-- /right --></div><!-- /latest-posts --></div><!-- /drop-down  -->
</li>
<li id="menu-item-36429" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36429"><a target="_blank" href="http://www.schoolreportonline.com/">Education</a></li>
<li id="menu-item-41026" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-41026"><a href="https://www.theresident.co.uk/category/platinum/">Platinum</a><div class="drop-down"><div class="sub-cats"><span class="more">MORE <span class="cat-name">PLATINUM</span></span>
<ul class="sub-menu">
	<li id="menu-item-41151" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41151"><a href="https://www.theresident.co.uk/category/platinum/insight/">Insight</a></li>
	<li id="menu-item-41039" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41039"><a href="https://www.theresident.co.uk/category/platinum/business-investment/">Investment</a></li>
	<li id="menu-item-41042" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41042"><a href="https://www.theresident.co.uk/category/platinum/cars-motoring/">Motoring</a></li>
	<li id="menu-item-41038" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41038"><a href="https://www.theresident.co.uk/category/platinum/property/">Property</a></li>
	<li id="menu-item-41041" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-41041"><a href="https://www.theresident.co.uk/category/platinum/fitness-wellbeing/">Wellbeing</a></li>
</ul>
</div><!-- /sub-cats  -->
<div class="latest-posts"><div class="story featured"><a href="https://www.theresident.co.uk/homes-interiors/why-brexit-creates-the-perfect-property-investment-opportunity/"><img width="600" height="400" src="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/04/SW-Area-Focus-2-1-600x400.jpg" class="attachment-tr-main size-tr-main wp-post-image" alt="How to make money on the London property market during Brexit" srcset="https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/04/SW-Area-Focus-2-1-600x400.jpg 600w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/04/SW-Area-Focus-2-1-300x200.jpg 300w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/04/SW-Area-Focus-2-1-768x512.jpg 768w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/04/SW-Area-Focus-2-1-1024x683.jpg 1024w, https://theresident.wpms.greatbritishlife.co.uk/wp-content/uploads/sites/10/2014/04/SW-Area-Focus-2-1.jpg 1200w" sizes="(max-width: 600px) 100vw, 600px" /></a><a href="https://www.theresident.co.uk/homes-interiors/why-brexit-creates-the-perfect-property-investment-opportunity/">Why Brexit Creates the Perfect Property Investment Opportunity</a></div><div class="right"><div class="story "><strong class="ad_feature">Ad Feature</strong> <a class="category" href="https://www.theresident.co.uk/category/platinum/business-investment/">Business &amp; Investment</a><a href="https://www.theresident.co.uk/lifestyle-london/luxury-pawnbroker-chelsea-designer-handbags-bentley-banksy/">Luxury Pawnbroking: How Chelsea Entrepreneurs are Raising Capital with Handbags, Bentleys &#038; Banksys</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/homes-interiors/">Homes &amp; Interiors</a><a class="category" href="https://www.theresident.co.uk/category/platinum/">Platinum</a><a href="https://www.theresident.co.uk/homes-interiors/luxury-new-amenities-complete-the-centre-point-residences/">Luxury New Amenities Complete the Centre Point Residences</a></div><div class="story "><a class="category" href="https://www.theresident.co.uk/category/platinum/business-investment/">Business &amp; Investment</a><a class="category" href="https://www.theresident.co.uk/category/platinum/">Platinum</a><a href="https://www.theresident.co.uk/platinum/magazine-london-greenwich-first-look-inside-londons-major-new-venue/">First Look Inside London&#8217;s Major New Venue: Magazine London</a></div></div><!-- /right --></div><!-- /latest-posts --></div><!-- /drop-down  -->
</li>
</ul></div>